.Navigation-button {
    width: 60px;
    height: 30px;
    border-radius: 20px;
}

.Navigation-button--success {
    background-color: forestgreen;
    color: #fff;
}

.Navigation-button--danger {
    background-color: red;
    color: #fff;
}

.Coordinates-list {
    display: table-row;
    margin-top: 10px;
}